#header {
    text-align: center;
}

#header h1 {
    background-color: chocolate;
}

#header p {
    color: darkorange;
}

table th {
    background-color: chocolate;
    width: 2rem;
}

#main {
    text-align: center;
}

#main, button, input {
    font-size: 2rem;
}

#container {
    display: inline-block;
}