#header {
    text-align: center;
}

#header h1 {
    background-color: chocolate;
}

#header p {
    color: darkorange;
}

#main {
    text-align: center;
}

#main table {
    display: inline;
}

#main label {
    width: 6rem;
}

#main input {
    width: 15rem;
}

#main, button, input {
    font-size: 2rem;
}

#container table th {
    background-color: chocolate;
    width: 3rem;
}